.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmation-header {
  color: #25e4ba;
  font-size:30px;
}

.item {
  margin-bottom: 30px;
}
