<!-- <app-product-list></app-product-list> -->
<!-- <app-product-item (second) = "addTocart($event)" ></app-product-item> -->
<div class="cart-container">

  <!-- <app-cart-item-details *ngFor="let post of carts$ | async" [element]="post" (second)="addTocart($event)"></app-cart-item-details> -->
  <div  class="cart-item-details">
    <div *ngFor="let element of cartproduct" class="cart-item">
      <img src="{{element.item.url}}" alt="">
      <div class="cart-panel">
        <div class="product-item-detail">{{ element.item.name}}</div>
        <div class="product-item-detail">$ {{ element.item.price}}</div>
        <div class="product-item-detail">
          <select (change)="calculate(element.item.id, $event)"  style="width: 100px;">
              <option
                  *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]"
                  [ngValue]="item"
                  [selected]="element.item.amount === item">
                  {{ item }}
              </option>
          </select>
      </div>
      </div>
    </div>
  </div>
  <div class="form-margin">
    <form class="form-margin">
      <h1> Checkout </h1>
      <label>Full Name: </label><br />
      <input type='text' name='firstName' required minlength="9" placeholder="Enter First Name">
      <br />
      <label>Address: </label><br />
      <input type='text' name='address' required  minlength="10" placeholder="Enter Address" >
      <br />
      <label>Credit Card Number: </label><br />
      <input type='text' name='creditCard' required  minlength="16" maxlength="16" placeholder="(16-digit number)">
      <br />
      <input type='submit' value="Submit" class="btn btn-primary" />
    </form>
  </div>
</div>
