<!-- <app-product-list></app-product-list> -->
<!-- <app-product-item (second) = "addTocart($event)" ></app-product-item> -->
<div class="cart-container">

  <app-cart-item-details *ngFor="let post of carts$ | async" [element]="post" (second)="addTocart($event)"></app-cart-item-details>

  <div class="form-margin">
    <form class="form-margin">
      <h1> Checkout </h1>
      <label>Full Name: </label><br />
      <input type='text' name='firstName' required minlength="9" placeholder="Enter First Name">
      <br />
      <label>Address: </label><br />
      <input type='text' name='address' required  minlength="10" placeholder="Enter Address" >
      <br />
      <label>Credit Card Number: </label><br />
      <input type='text' name='creditCard' required  minlength="16" maxlength="16" placeholder="(16-digit number)">
      <br />
      <input type='submit' value="Submit" class="btn btn-primary" />
    </form>
  </div>
</div>
