<div *ngIf="cartproduct.length;" class="cart-container">
  <div  class="cart-item-details">
    <div *ngFor="let element of cartproduct; let index = index;" class="cart-item">
      <img src="{{element.item.url}}" alt="">
      <div class="cart-panel">
        <b>{{ element.item.name}}</b>
        <div>$ {{ element.item.price}}</div>
        <div>
          <label>Amount : </label>
          <input type="number" id="quantity" name="quantity" value ="{{parseeINt(element)}}" (change)="update(element,index,$event)" min="0" max="10">
      </div>
      </div>
    </div>
    <b> Total price : {{total}}</b>
  </div>
  <div class="form-margin">
    <form [formGroup]="myform" class="form-margin" (ngSubmit)="success(firstName,total)">
      <h1> Checkout </h1>
      <label>Full Name: </label><br />
      <input type='text' name='firstName' required minlength="3" formControlName="username" placeholder="(minmum 3 characters)" [(ngModel)]="firstName" (ngModelChange)="validateName()">
      <div *ngIf="myform.controls['username'].invalid && (myform.controls['username'].dirty || myform.controls['username'].touched)" class="alert">
        <div ngModelChange>
        Please enter valid username
        </div>
      </div>

      <br />

      <label>Address: </label><br />
      <input type='text' name='address' formControlName="address" required  minlength="6"  placeholder="(minmum 6 characters)" [(ngModel)]="address">
        <div *ngIf="myform.controls['address'].invalid && (myform.controls['address'].dirty || myform.controls['address'].touched)" class="alert">
          <div *ngIf="myform.controls['address'].invalid">
          Please enter address
          </div>
        </div>
      <br />
      <label>Credit Card Number: </label><br />
      <input type='text' name='creditCard' formControlName="creditCard" required  placeholder="(16-digit number)" minlength="16" maxlength="16" [(ngModel)]="creditCard">
      <div *ngIf="myform.controls['creditCard'].invalid && (myform.controls['creditCard'].dirty || myform.controls['creditCard'].touched)" class="alert">
        <div *ngIf="myform.controls['creditCard'].invalid">
        Please enter creditCard
        </div>
      </div>
      <br />
      <input [disabled]="myform.invalid" type='submit' value="Submit" class="btn btn-primary" />
    </form>
  </div>
</div>
