<form [formGroup]="myform" (ngSubmit)="added()">
  <div class="detail-container">
    <img src="{{posts[dept].url}}">
    <div class="detail-item">
      <h1>{{ posts[dept].name }}</h1>
      <b>${{posts[dept].price}}</b><br>
      <b>{{posts[dept].description}}</b><br><br>
      <select class="select-input" name="" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
      <br>
      <button class="btn btn-primary">Add to Cart</button>
      <br>
      <br>
      <a routerLink="/Prouctlist"> ◀ Back to product list</a>
    </div>

  </div>
</form>
