<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  .header {
    text-align: center;
  background: #33B5E5;
  color: #fff;
  padding: 12px;
  font-size: 30px;
  }
  a {
  color: #ffffff;
}
</style>

<!-- Toolbar -->
<div class="header">
  <a>My Store</a>
  <ul>
    <li>Product List</li>
    <li>Cart</li>
  </ul>
</div>


<app-product-list></app-product-list>
